@tailwind base;
@tailwind components;
@tailwind utilities;






@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


.logo {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.font-handwritten {
  font-family: 'Gloria Hallelujah', cursive;
}



.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}




@layer base {
  body {
    background-color: #1a1a1a; /* Stonewash black */
    color: #f5f5f5;
    position: relative;
    overflow: hidden;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg width='300' height='300' viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.5' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.15; /* Brighter noise */
    background-size: cover;
  }
}
